@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    padding: 0;
    margin: 0;

}








.home_base_div {
    width: 100%;
    height: 100vh;


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}



.group_div_base {
    width: 25rem;
    height: 90%;
    background-color: #3F3F3F;

    border-radius: 1rem;

    margin: 0 !important;

    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

}





.group_div_top_bar {
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5rem;

}


.group_div_heading {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.8rem;
    letter-spacing: 0.6px;

    margin-left: 1rem;

}



.create_btn {
    background-color: rgb(239, 155, 0) !important;
    border-color: rgb(239, 155, 0) !important;

    box-shadow: "5px 5px 3px red";
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;



}










.group_div_middle {

    width: 100%;
    height: 75%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding-top: 1.5rem;
    gap: 0.3rem;

    padding-left: 1rem;
    padding-right: 1rem;

}





.user_names {
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.4rem;
}




.group_div_last {
    height: 10%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;


}




.associate_btn {
    background-color: #474747 !important;
    border-color: #474747 !important;

    height: 2.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}




















.group_div2_middle {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; */


    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
}





.group2_box {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */





}

.group2_box {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow: hidden;

    gap: 0.5rem;

    color: white;

}




.group2_groupnum {
    align-self: flex-start;

}








.see_all {
    font-size: small;
}
















.group1_midle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);

    place-items: center;
    grid-auto-flow: column;

}



.user_names {
    position: relative;
}






.cross_icon {
    position: absolute;
    right: 0%;
    background-color: rgba(236, 236, 236, 0.5);
    border-radius: 50%;
}
















.users_list_moddal {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);

    place-items: center;

    gap: 0.5rem;
    padding: 0;
}

.create_btn {
    display: flex;
    align-content: center;
    justify-content: center;
}





.user_names,
.modal_names {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;



}


.group2_groupnum {
    position: relative;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;



}

.delete_group_icon {
    display: none;

background-color: transparent !important;

}


.group2_groupnum:hover .delete_group_icon {
    display: flex;
}





@media screen and (max-width: 950px) {


    .home_base_div {
        gap: 1.5rem;
    }

}




@media screen and (max-width: 870px) {


    .group_div_base {
        width: 20rem;
    }

}



@media screen and (max-width: 700px) {

    .home_base_div {

        height: min-content;
        flex-direction: column;
        padding: 0;
    }

    .group_div_base {
        width: 90%;
        height: 100vh;
        margin: 0 !important;


    }

    body {
        padding-bottom: 1.5rem;
    }




}





@media screen and (max-width: 450px) {

    .home_base_div {

        height: min-content;
        flex-direction: column;
        padding: 0;
    }


    .group_div_base {
        width: 98%;
        height: 100vh;

        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

    }


    .group_div_heading {
        font-size: 1.5rem;
    }


    .create_btn {
        font-size: small;
    }


}



@media screen and (max-width: 500px) {


    .users_list_moddal {
        grid-template-columns: repeat(2, 1fr);
    }



}




@media screen and (max-width: 350px) {


    .users_list_moddal {
        grid-template-columns: repeat(1, 1fr);
    }



}